<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/messages.css">
</head>
<body>
    <div class="messages-container">
    <ul id="messages">
        <% for (const data of userDetails) { %>
        <li>
            <h2>From: <%= data.username %></h2>
            <p>Message: <%= data.usermessage %></p>
        </li>
        <% } %>
    </ul>
    </div>
</body>
</html>